.App {
  font-family: 'Oxygen', sans-serif;
  height: 230vh;
  background: rgb(64, 119, 238);
  background: linear-gradient(
    180deg,
    #e2e6eb 0%,
    #6995b9 15%,
    #6a7a9e 30%,
    #465e6d 45%,
    #1D3557 100%
  );
}

.text{
  color: gray;
  text-align: right;
}